<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <appender name="CONSOLE_DEV" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} [%X{requestId}] %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_PROD" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>requestId</includeMdcKeyName>
            <customFields>{"app":"${springAppName}"}</customFields>
        </encoder>
    </appender>

    <springProfile name="dev | test">
        <root level="INFO">
            <appender-ref ref="CONSOLE_DEV" />
        </root>
        <logger name="com.hrms.backend" level="DEBUG" />
        <logger name="org.hibernate.SQL" level="DEBUG" />
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE_PROD" />
        </root>
        <logger name="org.hibernate.SQL" level="OFF" />
    </springProfile>
</configuration>
